* {
  margin: 0px;
  padding: 0; }

html {
  font: 18px sans-serif;
  color: #3f3f3f; }

ul li {
  padding-left: 5px; }

body {
  background: teal;
  color: #0086B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
