@import "variables";
@import "animations";

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $nav-background-color;

    ul {
      display: flex;

      li {
        margin: 0 0.5rem 0 0.5rem;

        &:hover {
          cursor: pointer;
        }

      }
    }

    color: $nav-text-color;
  }
}

#top-nav-left {
  margin: 0.5rem;

}

#top-nav-right {
  align-self: flex-end;
  margin: 0.5rem;
}

#language-dropdown-content {
  display: none;
  opacity: 0;
  position: absolute;
  animation-name: fadein;
  animation-duration: 2s;
  background-color: $nav-background-color;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#language-dropdown {
  position: relative;
  display: block;

  &:hover {

    & > #language-dropdown-content {
      display: block;

    }
  }
}

  #bottom-nav {
  ul {
    margin: 0.5rem auto 0.5rem auto;

    li {
      padding: 0.5rem;
      border-radius: 0.1rem;
      transition: transform 0.5s;

      &:hover {
        background-color: $nav-hover-link;
        color: #05386B;
        cursor: pointer;
        transform: scale(1.5);

        a {
          color: $nav-background-color
        }

      }

      text-align: center;

    }


  }
}

#responsive-menu-bottom-check {
  display: none;
}


#responsive-menu-bottom-icon {
  display: none;
}
