@import "variables";

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $nav-background-color;

    ul {
      display: flex;

      li {
        margin: 0 0.5rem 0 0.5rem;
      }
    }

    color: $nav-text-color;
  }
}

#top-nav-left {
  margin: 0.5rem;

}

#top-nav-right {
  align-self: flex-end;
  margin: 0.5rem;
}

#bottom-nav {
  ul {
    margin: 0.5rem auto  0.5rem auto;
    li{
      padding: 0.5rem;
border-radius: 0.1rem;
      transition: transform 0.5s;
    }
    li:hover{
      background-color: $nav-hover-link;
      color: #05386B;
      cursor: pointer;
      transform: scale(1.5);
      a{
        color: $nav-background-color
      }
    }
  }
}
