@import "variables";

* {
  margin: 0;
  padding: 0;
}

nav {

  ul {
    li {
      list-style-type: none;
    }
  }

}

a {
  text-decoration: none;
  color: $nav-text-color;

  :visited {
    cursor: default;
    color: $nav-text-color;
  }

}
