@import "variables";
@media all and (max-width: 600px){
html {
  font-size: $font-size-medium;
}
  #top-nav {

  ul
  {
  li:nth-child(3){
    font-size: 0;
  }
  i:nth-child(1){
    font-size: initial;
  }
  }
}
}
