@import "variables";

@media all and (max-width: 600px) {
  html {
    font-size: $font-size-medium;
  }

  #bottom-nav {
    ul {


      li {
        transition: none;
        &:hover {
        transform: none;
        }

      }
    }

      }
  #shop-section{
  align-items: center;
  }
  .grid {
    width: 95%;
    display: grid;
    grid-template-columns: 90%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .grid-content {
    justify-self: center;
    margin: auto;
  }
  #top-nav {

    .responsive-menu {
      display: none;
    }
  }
  #bottom-nav {
    ul {
      li {
        &:not(:last-child) {
          display: none;
        }
      }
    }
  }

}
