@import "variables";
@import "animations";
@media all and (max-width: 600px) {
  html {
    font-size: $font-size-medium;
  }

  #bottom-nav {
    ul {


      li {
        transition: none;

        &:hover {
          transform: none;
        }

      }
    }

  }
  #shop-section {
    align-items: center;
  }
  .grid {
    width: 95%;
    display: grid;
    grid-template-columns: 90%;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .grid-content {
    justify-self: center;
    margin: auto;
  }
  #top-nav {
    .responsive-menu {
      display: none;
    }
  }
#bottom-nav{
  display: flex;
  flex-direction: column;

}
#bottom-nav-list{
  display: none;
}
  #responsive-menu-bottom-icon {
    display: block;
    align-self: center;
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    &:hover{
      cursor: pointer;
      background-color: #379683;

    }
  }


  #responsive-menu-bottom-check:checked ~ #bottom-nav-list {
    display: inline;
    animation-name: fadein;
    animation-duration: 2s;
  }


}

@media all and (min-width:601px) and (max-width:900px) {

 .grid{
   grid-template-columns: auto auto;
 }
}



