
@import "variables";

html {
  font: $font-size 'Roboto', cursive;
  background: #5CDB95;

}

h1 {
padding: 0 0.5rem 0 0.5rem;
  margin: 0;
  font-size: 1rem;
}

nav{
  ul{

    margin: 0;
    li{
      margin: 0;
      padding: 0;

    }
  }
}
