<nav id="bottom-nav">
    <label id="responsive-menu-bottom-icon" for="responsive-menu-bottom-check">
        <i class="fa fa-bars"></i>
    </label>
    <input type="checkbox" id="responsive-menu-bottom-check" role="button">
    <ul id="bottom-nav-list" class="navigation">
        <li id="nav-item"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="nav-item">Autobiography</li>
        <li class="nav-item"><a href="{{site.baseurl}}/free-time/">Free time</a></li>
        <li class="nav-item">Work</li>
        <li class="nav-item"><a href="{{site.baseurl}}/contacts/">Contacts</a></li>
    </ul>
</nav>
