<nav id="top-nav">
    <div id="top-nav-left">
        <h1>Emanuil Alboiadjian's</h1>
        <h2>personal website</h2>
    </div>
    <ul id="top-nav-right">
        <li class="top-nav-item"><a href="https://www.linkedin.com/in/emanuil-alboiadjian-735b21189/"> <i
                class="fab fa-linkedin-in fa-2x"></i></a></li>
        <!--    <li id="language-dropdown"><i class="fas fa-globe-asia"></i><div class="responsive-menu"></div>
                <ul id="language-dropdown-content">
                    <li>Language <i class="fas fa-arrow-down"></i></li>
                    <li>Bulgarian</li>
                    <li>English</li>
                </ul>
            </li> -->
    </ul>
</nav>
