<nav id="top-nav">
    <div id="top-nav-left">
        <h1>Computer Store</h1>
    </div>
    <ul id="top-nav-right">
        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-twitter"></i></li>
        <li id="language-dropdown"><i class="fas fa-globe-asia"></i><div class="responsive-menu"></div>
            <ul id="language-dropdown-content">
                <li>Language <i class="fas fa-arrow-down"></i></li>
                <li>Bulgarian</li>
                <li>English</li>
            </ul>
        </li>
    </ul>
</nav>
